.App {
  position: relative;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  color: white;
  height: 100px;
  padding-top: 30px;
  text-align: center;
  min-height: 15vh;
}

.App-container {
  min-height: 75vh;
}

.App-footer {
  /* position: absolute;
  bottom: 0; */
  display: block;
  background-color: #282c34;
  color: white;
  height: 10vh;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.App-footer h4 {
  margin: 2rem auto;
}
